* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: "Poppins", sans-serif;
  align-items: center;
  margin: 2rem;
  margin-top: 5rem;
  img {
    height: 60vh;
    border-radius: 6px;
    display: flex;
    align-items: center;
  }
  .info {
    margin-left: 2rem;
    button {
      padding: 1rem;
      margin-top: 1rem;
      background: transparent;
      border: 1px solid rgb(111, 78, 148);
      color: white;
      cursor: pointer;
    }
  }
}
